.header{
    padding: 4px; 

    /* display: flex; */
    display: flex;
    justify-content: space-between;
}

.enter-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
.enter-data select{
    min-height: 25px;
    padding: 2px;
    min-width: 472px;
}
.inputDateStart{
    margin-top: 10px;
    margin-left: 24px;
} 
.inputDateFinish{
    margin-left: 5px;
} 


.btn-secondary{
    background-color: green;
}


.df-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.df-btn btn{
    min-width: 150px;
 }
 

.btnAddRestore{
    margin: 5px;
    margin-left: 200px;
}
.addForm{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 6px;
    margin-bottom: 12px;
}
.card--open .card-head{
    background-color: lightgray;
    border: 1px dashed green;
}
.card--open .card-body{
    display: block;
}
.card-head{
    padding: 20px;
}
.card-body{
    padding: 20px;
    display: none;
}
/* Для выравнивания select с label */
.df{
    display: flex;
}
.df label{
    min-width: 150px;
}

.btnDisable{
    background-color: lightgray;
    color: red;
    visibility: hidden;
}
