.content{
    max-width: 1200px;
    margin: 0 auto;
    
}

.header{
    min-height: 3em;
    min-width: 100%;
    background-color:#E0E0E0;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em gray;
    box-shadow: -3px 10px 20px #fff;
}
.container{
    display: flex;
    margin: 0;
    padding: 0;

}
.left-aside{
    box-shadow: -3px 10px 20px #fff;
    border-radius: 10px;
    background-color:#E0E0E0;
    margin-top: 2px;
}

.main-block{
    box-shadow: -3px 10px 20px #fff;
    border-radius: 10px;
    background-color:#E0E0E0;
    opacity: 0.8;
    margin-left: 5px;
    margin-top: 2px;
    min-width: 100%;

}
.img-max-size{
    min-width: 100%;
}
li:hover{
    border: 2px solid grey; 
    border-radius: 8px; 
}
