.content{
    max-width: 1200px;
    margin: 0 auto;
    /* background: url('/assets/Image/background.jpg') no-repeat 100%; */
}

.header{
    min-height: 3em;
    min-width: 100%;
    /* background-color: lightgray; */
    /* background-color: #C0C1C6; */
    background-color:#E0E0E0;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em gray;
    box-shadow: -3px 10px 20px #fff;
    /* border: 2px solid grey; */
}
.container{
    display: flex;
    margin: 0;
    padding: 0;

}
.left-aside{
    /* border: 2px solid #fff; */
    box-shadow: -3px 10px 20px #fff;
    border-radius: 10px;
    /* background-color: lightgray; */
    /* background-color:#C0C1C6; */
    background-color:#E0E0E0;
    margin-top: 2px;
}
.main-block{
    /* border: 2px solid gray; */
    box-shadow: -3px 10px 20px #fff;
    /* box-shadow: 2px 2px 10px gray; */
    border-radius: 10px;
    /* background-color: #fff; */
    background-color:#E0E0E0;
    opacity: 0.8;
    margin-left: 5px;
    margin-top: 2px;
    min-width: 100%;

}
.img-max-size{
    min-width: 100%;
}
li:hover{
    border: 2px solid grey; 
    border-radius: 8px;
}
