/* You can add global styles to this file, and also import other style files */

table th, td{
    border: 1px solid grey;
    text-align: center;
    background-color: #fff;

}

button{
    margin-left: 20px;
}
img{
    max-width: 28px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
    font-size: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

