<div class="container" >
    <div class="header">
        <h5>Данные о персонах:</h5>
        <button class="btn btn-success rounded-pill" (click)="addNewPerson()">Добавление новой персоны</button>
    </div>
    <div class="enter-data" *ngIf="visibleAddNewPerson">
        <label for="surname" >Фамилия:
            <input type="text"  name="surname" [(ngModel)]='surname' (value)="surname">
        </label>
        <label for="name" >Имя:
            <input type="text"  name="name" [(ngModel)]='name' (value)="name">
        </label>
        <label for="patronamic" >Отчество:
            <input type="text"  name="patronamic" [(ngModel)]='patronamic'  (value)="patronamic">
        </label>
        <button class="btn btn-success rounded-pill" (click)="addNewPerson()">Добавить</button>
    </div>
    
    <div class="enter-data" *ngIf="visibleUpdatePerson">
        <label for="surname" >Фамилия:
            <input type="text"  name="surname" [(ngModel)]='surname' (value)="surname">
        </label>
        <label for="name" >Имя:
            <input type="text"  name="name" [(ngModel)]='name' (value)="name">
        </label>
        <label for="patronamic" >Отчество:
            <input type="text"  name="patronamic" [(ngModel)]='patronamic'  (value)="patronamic">
        </label>
        <button class="btn btn-success rounded-pill" (click)="updatePerson()">Изменить</button>
    </div>
    <table class="table" >
        <tr>
            <th>ID</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Операции</th>
        </tr>
        <tr *ngFor="let item of query; index as i">
            <td>{{item.id}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.name}}</td>
            <td>{{item.patronamic}}</td>
            <td><button class="btn btn-warning rounded-pill" (click)="showUpdatePersonForm(i)">Изменить</button>
                <button class="btn btn-danger rounded-pill"  (click)="removePerson(i)">Удалить</button></td>
        </tr>
    </table>
</div>
